<?xml version='1.0' encoding='utf-8'?>
<plugin id="geofence" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>geofence</name>
    <js-module name="geofence" src="www/geofence.js">
        <clobbers target="cordova.plugins.geofence" />
    </js-module>
    <platform name="ios">
        <config-file parent="NSLocationAlwaysUsageDescription" target="*-Info.plist">
            <string>將啟用您的GPS。</string>
        </config-file>
        <config-file parent="NSLocationAlwaysAndWhenInUseUsageDescription" target="*-Info.plist">
            <string>將啟用您的GPS。</string>
        </config-file>
        <config-file parent="UIBackgroundModes" target="*-Info.plist">
            <array>
                <string>location</string>
            </array>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="geofence">
                <param name="ios-package" value="geofence" />
            </feature>
        </config-file>
        <header-file src="src/ios/geofence.h" />
        <source-file src="src/ios/geofence.m" />
        <header-file src="src/ios/AppDelegate+Grofence.h" /> 
        <source-file src="src/ios/AppDelegate+Grofence.m" />
        <!-- <header-file src="src/ios/Global.h" /> -->
        <!-- <source-file src="src/ios/Global.m" /> -->
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="geofence">
                <param name="android-package" value="geofence.geofence" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:enabled="true" android:name="geofence.EveryTenMinuteCallThisService" android:permission="android.permission.BIND_JOB_SERVICE" />
            <receiver android:name="geofence.NotificationBroadcastReceiver"></receiver>
        </config-file>
        <source-file src="src/android/geofence.java" target-dir="src/geofence" />
        <source-file src="src/android/EveryTenMinuteCallThisService.java" target-dir="src/geofence" />
        <source-file src="src/android/NotificationBroadcastReceiver.java" target-dir="src/geofence" />
        <framework src="com.google.android.gms:play-services-location:15.0.1" />
    </platform>
</plugin>